
# HTID:18821984: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18821984:

# HTID:18885737: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /login.html https://monitorcovidppads.000webhostapp.com/logincadastro.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18885737:



# HTID:18885749: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /index https://monitorcovidppads.000webhostapp.com/logincadastro.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18885749:

# HTID:18885756: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /index.html https://monitorcovidppads.000webhostapp.com/logincadastro.html
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18885756:
